In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
import pandas as pd
import joblib
import pickle
from datetime import datetime

# Example of connection with database

In [15]:
database = ''
user = ''
password = ''
host = ''
port = 0

In [16]:
CONNECTION = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# Example of input data

In [17]:
user_id = 1000
time = datetime(2020, 11, 15, 12, 30)
limit = 5

# Reading data

In [18]:
user_features = pd.read_sql(
    f""" SELECT * 
        FROM public.user_data
        WHERE user_id = {user_id}      
    """,
    con=CONNECTION
)

user_features = user_features.drop('user_id', axis=1)
user_features

   gender  age country     city  exp_group       os source
0       1   46  Turkey  Kayseri          2  Android    ads

In [19]:
post_features = pd.read_sql(
    """SELECT * FROM public.post_processed_features""",   
    con=CONNECTION
)

content = post_features[['post_id', 'text', 'topic']]
post_features = post_features.drop('text', axis=1)
post_features = post_features.set_index('post_id')
post_features.head()

,topic,TotalTfIdf,MaxTfIdf,MeanTfIdf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster
post_id,,,,,,,,,,,,,,,,,
1,business,8.189184,0.508965,0.000214,10,0.446862,0.449783,0.511725,0.454039,0.431718,0.480038,0.486540,0.543321,0.561144,0.398347,0.146891,0.487810
2,business,11.169689,0.322813,0.000292,9,0.308796,0.305836,0.390665,0.315877,0.286911,0.352257,0.355370,0.295984,0.460883,0.194327,0.297965,0.357827
3,business,11.939820,0.262184,0.000312,10,0.335695,0.340267,0.409785,0.353175,0.315173,0.392140,0.380555,0.506242,0.477769,0.261311,0.137949,0.403610
4,business,6.138186,0.559407,0.000160,9,0.300260,0.288413,0.385426,0.322719,0.261154,0.349763,0.350393,0.458251,0.408722,0.183320,0.259922,0.366145
5,business,6.019855,0.432699,0.000157,9,0.177063,0.233884,0.301383,0.235845,0.133874,0.249478,0.262709,0.400508,0.384912,0.098322,0.300176,0.278621

In [20]:
"""in order to avoid showing posts the second time to users"""

post_user_liked = pd.read_sql(
    f""" SELECT * 
        FROM public.feed_data as fa 
        WHERE action = 'like' and user_id = {user_id}
        """,
    con=CONNECTION
)

post_user_liked.head()

            timestamp  user_id  post_id action  target
0 2021-10-17 17:59:39     1000     6499   like       0
1 2021-10-05 10:02:26     1000     6799   like       0
2 2021-10-05 10:06:59     1000      117   like       0
3 2021-10-05 10:14:12     1000     3172   like       0
4 2021-10-05 10:16:28     1000     3842   like       0

# Zipping user and post features

In [21]:
user_features_dict = dict(zip(user_features.columns, user_features.values[0]))
post_user_features = post_features.assign(**user_features_dict)
post_user_features.head()

,topic,TotalTfIdf,MaxTfIdf,MeanTfIdf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,...,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,gender,age,country,city,exp_group,os,source
post_id,,,,,,,,,,,,,,,,,,,,,
1,business,8.189184,0.508965,0.000214,10,0.446862,0.449783,0.511725,0.454039,0.431718,...,0.398347,0.146891,0.487810,1,46,Turkey,Kayseri,2,Android,ads
2,business,11.169689,0.322813,0.000292,9,0.308796,0.305836,0.390665,0.315877,0.286911,...,0.194327,0.297965,0.357827,1,46,Turkey,Kayseri,2,Android,ads
3,business,11.939820,0.262184,0.000312,10,0.335695,0.340267,0.409785,0.353175,0.315173,...,0.261311,0.137949,0.403610,1,46,Turkey,Kayseri,2,Android,ads
4,business,6.138186,0.559407,0.000160,9,0.300260,0.288413,0.385426,0.322719,0.261154,...,0.183320,0.259922,0.366145,1,46,Turkey,Kayseri,2,Android,ads
5,business,6.019855,0.432699,0.000157,9,0.177063,0.233884,0.301383,0.235845,0.133874,...,0.098322,0.300176,0.278621,1,46,Turkey,Kayseri,2,Android,ads

# Adding time information

In [22]:
post_user_features['hour'] = time.hour
post_user_features['dayofweek'] = time.weekday()
post_user_features['month'] = time.month
post_user_features.head()

,topic,TotalTfIdf,MaxTfIdf,MeanTfIdf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,...,gender,age,country,city,exp_group,os,source,hour,dayofweek,month
post_id,,,,,,,,,,,,,,,,,,,,,
1,business,8.189184,0.508965,0.000214,10,0.446862,0.449783,0.511725,0.454039,0.431718,...,1,46,Turkey,Kayseri,2,Android,ads,12,6,11
2,business,11.169689,0.322813,0.000292,9,0.308796,0.305836,0.390665,0.315877,0.286911,...,1,46,Turkey,Kayseri,2,Android,ads,12,6,11
3,business,11.939820,0.262184,0.000312,10,0.335695,0.340267,0.409785,0.353175,0.315173,...,1,46,Turkey,Kayseri,2,Android,ads,12,6,11
4,business,6.138186,0.559407,0.000160,9,0.300260,0.288413,0.385426,0.322719,0.261154,...,1,46,Turkey,Kayseri,2,Android,ads,12,6,11
5,business,6.019855,0.432699,0.000157,9,0.177063,0.233884,0.301383,0.235845,0.133874,...,1,46,Turkey,Kayseri,2,Android,ads,12,6,11

# Predicting that post will be liked

In [23]:
"""for example, take control model"""
model = pickle.load(open('model_control_1.pkl', 'rb'))

In [24]:
prediction_liked = model.predict_proba(post_user_features)[:, 1]
post_user_features['predict'] = prediction_liked

# Deleting liked posts

In [25]:
posts_already_liked_ids = list(post_user_liked['post_id'].values)
post_user_features_unliked = post_user_features[~post_user_features.index.isin(posts_already_liked_ids)]
posts_for_recommendation_ids = list(post_user_features_unliked.sort_values('predict')[-limit:].index)

# Response from "server"

In [26]:
posts_for_recommendation_ids

[713, 709, 1766, 1730, 1473]

In [27]:
response_content = content.loc[posts_for_recommendation_ids]
response_content

,post_id,text,topic
713,542,"U2s desire to be number one\n\nU2, who have wo...",entertainment
709,538,Euro firms miss out on optimism\n\nMore than 9...,business
1766,1294,Kilroy-Silk quits shameful UKIP\n\nEx-chat sho...,politics
1730,1263,Burglar defence guidelines issued\n\nHousehold...,politics
1473,1093,Hitler row over Welsh arts cash\n\nAn artist c...,politics

In [28]:
response_list = []
for i in range(limit):
    response_post_dict = {}
    response_post_dict['id'] = response_content.iloc[i]['post_id']
    response_post_dict['text'] = response_content.iloc[i]['text']
    response_post_dict['topic'] = response_content.iloc[i]['topic']
    response_list.append(response_post_dict)
response_list

[{'id': 542,
  'text': 'U2s desire to be number one\n\nU2, who have won three prestigious Grammy Awards for their hit Vertigo, are stubbornly clinging to their status as one of the biggest bands in the world.\n\nThe most popular groups in the history of rock all have several things in common. The music must be inspired and appeal across generations and be distinctive, if not always groundbreaking. But such success is down to more than music. They have to be compelling performers, charismatic and intelligent enough to make good decisions and keep their feet on the ground. They also have to want it. They have to want to be the biggest band ever and not stop wanting it. The Beatles had it, the Rolling Stones still have it, REM hold onto it and Queen were it in a catsuit. And U2 have it in spades, and keep churning it out. Their new album, How To Dismantle An Atomic Bomb, comes 28 years after the schoolfriends got together in Dublin and 17 years after The Joshua Tree cemented their place on the all-time rock A-list.\n\nThey may have lost some of the edginess and raw, youthful force that propelled them to the top, but they have lost none of the desire or ability to craft songs and albums.\n\nVertigo, the first single from the new album, went straight into the UK singles chart at number one, knocking Eminem off the top spot and giving them their 26th top 10 hit. The challenge is to be bigger and bolder and better - to make records the whole world will listen to, Bono recently said. Drummer Larry Mullen Jr echoed those sentiments: Were very competitive - we want to be on the radio, have big singles. We dont want to be thought of as a veteran band. The band have done everything in their considerable powers to ensure they remain the biggest band in the world, according to Q magazine editor Paul Rees.\n\nThis makes them hugely determined and formidable. He added: They are equally determined to push themselves to make music that continues to stand up. As such, theyve constantly re-invented and challenged themselves. They are, perhaps, alone as the only rock band that has got better with age. The other key ingredient was the fact they were highly organised, Mr Rees said. They do everything in the right way. The group were born when Mullen put an appeal for bandmates on a high school notice board, attracting fellow pupils Paul Hewson (Bono, vocals), Adam Clayton (bass), David Evans (The Edge, guitar) and his brother Dick.\n\nDick Evans soon dropped out and the four-piece were known as The Feedback and The Hype before settling on U2.\n\nBy 1978, they had won a talent contest and got noticed by a manager, Paul McGuinness. They were brilliant, but very coarse, McGuinness recently said. In a way, they were doing exactly what they do now. Only badly. They struggled to attract record company attention, later being described as pretty damn average and strange and eerie by scouts who saw them live. They released two Ireland-only singles, which topped the national charts in 1979 and 1980, leading to a deal with Island and their debut album Boy. The stadium-filling, anthemic sound was U2s aim from the start, and their third album, War, saw them make the breakthrough on both sides of the Atlantic, going to number one in the UK and 12 in the US. Songs like Sunday Bloody Sunday and New Years Day brought success and an image as a political and spiritual band - which Bono rejected as a cliche.\n\nHis stage performances - which included flag-waving, speaker-climbing and drum-throwing - earned him a reputation as an electric performer, and their appearance at 1985s Live Aid is widely seen as sealing their global stardom.\n\nIn 1987, The Joshua Tree broke sales records and saw the band reach the height of their powers with hits including Where the Streets Have No Name, I Still Havent Found What Im Looking For and With Or Without You. Those songs took the bands epic, atmospheric sound to a simple, powerful and popular pinnacle. The end of the decade marked a crucial point for the band - they had reached the top but still yearned for new challenges and achievements. These came in the form of explorations of different branches of rock and forays into electronic dance music, plus wildly extravagant stage shows, while still trying to retain their mass appeal. The Achtung Baby album in 1991 was followed by Zooropa, Pop and their corresponding stadium tours, which featured giant olives, flying cars, live phone calls to the White House and Bonos transformation into alter-egos The Fly and MacPhisto. He was also building a parallel reputation - not always to the pleasure of his bandmates - as a campaigner on issues from global debt to Aids. Before the release of How To Dismantle An Atomic Bomb, they had sold 125 million albums around the world. But they still want more.\n',
  'topic': 'entertainment'},
 {'id': 538,
  'text': 'Euro firms miss out on optimism\n\nMore than 90% of large companies around the world are highly optimistic about their economic prospects, a survey of 1,300 bosses suggests.\n\nTheir biggest worries are not terror threats, but over-regulation, low-cost competition and the wild ups and downs of oil prices. There is one exception: Firms in Western Europe - but not the UK - are lacking confidence after years of slow growth. When business advisers PricewaterhouseCoopers (PwC) conducted the same survey two years ago, nearly 30% of bosses were gloomy about their prospects.\n\nGlobal business leaders say that they are facing a two-pronged regulatory assault. After a string of corporate scandals in the United States - from Enron to WorldCom - the Sarbanes-Oxley act forces companies to be much more transparent, but doing all the paperwork costs a lot of time and money. Across Europe, meanwhile, all stock exchange-listed companies are currently in the process of moving to new and complex accounting standards called IFRS. Hacking through the red tape can hardly be avoided, but many chief executives around the world appear to have decided on how to deal with low-cost competitors.\n\nAlready, about 28% of the bosses polled for the survey say that they have moved parts of their business into low-wage countries, and another 11% plan to do so in the future. Possibly as a result, the worry about low-cost competition has slightly fallen from last year, with just 54% of companies calling it a significant threat or one of the biggest threats. But PwCs global chief executive, Samuel DiPiazza, said a growing number of companies were also concerned that moves to outsource work to cheaper countries could both hurt their reputation in their home markets and harm the quality of service they provide to their customers.\n\nAccording to Frank Brown, global advisory leader at PwC , the trend of large companies to have global operations has one clear upside: One risk in one region - for example the Middle East - wont kill your business anymore. Surprisingly, the survey suggests that the rapid decline of the US dollar is not seen as a huge threat anymore, unlike even a year ago, when it was cited as the third-largest problem. Mr DiPiazza said the interviews with chief executives suggested that companies had adjusted to the new reality of a euro that buys $1.30 and more, while others had successfully hedged their positions and locked in more favourable exchange rates.\n\n\n - For the survey, PricewaterhouseCoopers interviewed 1,324 chief executives throughout the world during the last three months of 2004.\n',
  'topic': 'business'},
 {'id': 1294,
  'text': 'Kilroy-Silk quits shameful UKIP\n\nEx-chat show host Robert Kilroy-Silk has quit the UK Independence Party and accused it of betraying its supporters.\n\nThe MEP said he was ashamed to have joined the party, which he labelled as a joke. He plans to stand in the next general election but refused to confirm he is setting up a new political party called Veritas - Latin for truth. UKIP leader Roger Knapman said he would break open the champagne, adding: It was nice knowing him, now goodbye. However, he did say the ex-chat show host had been quite useful initially. He has remarkable ability to influence people but, sadly, after the (European) election it became clear that he was more interested in the Robert Kilroy-Silk Party than the UK Independence Party so it was nice knowing him, now goodbye, Mr Knapman told BBC Radio 4s Today programme. Mr Knapman rejected the idea Mr Kilroy-Silk posed a threat to UKIP and queried why he had failed to confirm rumours he was starting a new political party.\n\nMr Kilroy-Silk explained his reasons to his East Midlands constituents at a meeting in Hinckley, Leicestershire. His decision came as UKIP officials began a process which could have triggered Mr Kilroy-Silks expulsion. It marks the end of his membership of UKIP after just nine months. It began with a flood of publicity which helped UKIP into third place in last Junes European elections but became dominated by rancour as he tried to take over the party leadership.\n\nMr Kilroy-Silk accused his fellow UKIP MEPs of being content with growing fat sitting on their backsides in Brussels. He told BBC News 24: I tried to change the party, I nagged all the way through the summer to do things, to get moving because I thought it was criminal what they were doing, it was a betrayal. Mr Kilroy-Silk also told Sky News there was masses of support for him to form a new party - something he has yet to confirm will happen.\n\nUKIP won 12 seats and 16.1% of the vote at the European elections on the back of its call for the UK to leave the European Union In his speech, Mr Kilroy-Silk says the result offered UKIP an amazing opportunity but the partys leadership had done nothing and gone AWOL. There were no policies, no energy, no vision and no spokespeople, he said. The party is going nowhere and Im embarrassed with its allies in Europe and Im ashamed to be a member of the party, said Mr Kilroy-Silk.\n\nHe said his conviction in Britains right to govern itself had not changed. He would continue that campaign outside UKIP when he contested the general election in an East Midlands constituency. Reports of his new party plans have prompted a formal complaint to UKIPs disciplinary committee for bringing the party into disrepute. On Thursday, the party challenged Mr Kilroy-Silk to stand down as an MEP so voters can get a genuine UKIP candidate.\n',
  'topic': 'politics'},
 {'id': 1263,
  'text': 'Burglar defence guidelines issued\n\nHouseholders who injure or even kill intruders are unlikely to be prosecuted - providing they were acting honestly and instinctively, new guidelines say.\n\nThe law also protects those who use something to hand as a weapon. The leaflet, published by police and prosecutors, aims to combat confusion about current legislation, which lets people use reasonable force. The guidance, relating to England and Wales, follows a recent decision by ministers not to change the law. Doing what you honestly and instinctively believed was necessary would be the strongest evidence of acting lawfully, the guidance said.\n\nAnd the law protects those who use something to hand as a weapon, said the leaflet published jointly by the Crown Prosecution Service (CPS) and Association of Chief Police Officers (ACPO).\n\nAs a general rule, the more extreme the circumstances and fear felt, the more force can be used lawfully in self-defence, it said, adding that householders do not have to wait to be attacked before defending themselves. But knocking someone unconscious then killing them or hurting them further, or setting a trap for an intruder without involving the police were given as examples of excessive and gratuitous force. The Tories have called for a change in the law so householders are only prosecuted if they use grossly disproportionate force. Their demands have been backed by former Metropolitan Police Commissioner Sir John Stevens. Tory frontbencher Patrick Mercer is now pursuing the proposal through a private members bill in Parliament.\n\nThe government instead mounted a publicity campaign to clear up public uncertainty after a review concluded no law change was necessary. Home Secretary Charles Clarke said: I believe in that old adage an Englishmans home is his castle. Thats exactly what should be the case and I believe the current law provides that. An informal trawl of CPS records found 11 people had been prosecuted after attacking intruders in the past 15 years, five of whom were convicted. They included a man who laid in wait for a burglar on commercial premises in Cheshire, before beating him up, throwing him into a pit and setting him on fire.\n\nA CPS spokesperson said the figures were not definitive because prosecutions are not listed according to whether they were committed by a householder on an intruder. In one of Britains highest profile cases, Norfolk farmer Tony Martin was jailed for life for murdering 16-year-old burglar Fred Barras, in 1999. The conviction was later reduced to manslaughter on appeal and the sentence cut to five years. Mr Martin was freed from prison in July 2003. The guidance published on Tuesday, said the police had a duty to investigate all incidents involving a death or injury. In cases involving householders attacking intruders prosecutors and police were determined they would be dealt with as swiftly and as sympathetically as possible, it said.\n',
  'topic': 'politics'},
 {'id': 1093,
  'text': 'Hitler row over Welsh arts cash\n\nAn artist critical of Welsh arts funding being brought under assembly government control has denied comparing the idea with dictatorships in Russia and Germany.\n\nShani Rhys James is worried that the Arts Council of Wales may be taken over by the Welsh Assembly Government. Culture Minister Alun Pugh said it would be crass and ignorant to liken a quango review to Hitlers Germany. But Ms James emphasised she had actually said artists needed freedom. The future of the Arts Council of Wales has been in question since it was announced that most Welsh quangos would eventually be abolished.\n\nIt was announced last July that three Welsh quangos, education and training body Elwa, the Wales Tourist Board and the Welsh Development Agency, would be brought under assembly government control. The Arts Council of Wales may be among the next to come under the assembly governments umbrella. But Ms James, who won the £30,000 Jerwood painting prize in 2003, said arts funding should be separate from government. Ms James told BBC Radio Wales: Its quite dangerous when you involve politicians because its not like the health service and its not like the railways. Free expression is absolutely vital in a democratic society. You need distance, you do not need government interference because it could be taken the wrong way.\n\nBut she said reports that she had likened the assembly government to totalitarian regimes were inaccurate.\n\nShe told Good Morning Wales: Just to put the record straight, that business in the paper where it said I likened the government to Bolshevik Russia or Hitlers Germany, the actual quote I gave was: It is vital to a civilised society that we allow artists to express themselves without government control. As we know from past European history, i.e. Russia and Germany in the early 20th Century, artists will go underground or leave the country or rather than compromise their expression. Artists need a free voice to express themselves - they reflect a truth through their own art forms. She said the assembly government was not best placed to run the arts in Wales.\n\nShe added: It would be a momentous change and devastating to the arts. It would set the arts scene back 60 years, because I really dont think the government has the expertise. If you have the National Assembly taking control, I fear you are going to be going back to the dragons and leeks and the choirs.\n\nWales has moved on. It is international now. It is not set back in How Green Was My Valley? Responding to Ms James criticisms, Mr Pugh said: The structure of unelected quangos is under review and we have made it clear that further announcements are due shortly. Comparing the Welsh Assembly Government to Hitlers Germany is a crass and ignorant response to a real issue about democratic accountability. Ms James, whose father was Welsh, was born in Melbourne where her parents worked in the theatre. She moved to Powys nearly 20 years ago where she works from her studio near Llangadfan. She has won a number of arts prizes including the Wales Open in 1989 and the Mostyn Open in 1991.\n',
  'topic': 'politics'}]